<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form action="/startTests" method="post" name="tests" id="test">
        <div class="checkbox">
            <th:block th:each="test : ${testList}">
                <label><input type="checkbox" name="selectedTests" th:value="${test.getName()}" th:text="${test.getName()}"/></label>
            </th:block>
        </div>
        <button type="submit" class="btn btn-success">Start</button>
    </form>
</div>
</body>
</html>