<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
    <title>Response codes result</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <span class="navbar-brand mb-0 h1">U-Tests</span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Tests <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/responseCodes">Response Codes <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<table>
    <tbody>
    <tr th:each="code : ${responseCodes.entrySet()}">
        <td th:text="${code.getKey()}"></td>
        <td th:text="${code.getValue()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>